workflows/email-automation/auto-reply-system/workflow.json
{
    "name": "邮件自动回复系统",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 5
                        }
                    ]
                }
            },
            "id": "cron-trigger",
            "name": "定时触发器",
            "type": "n8n-nodes-base.cron",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "operation": "getAll",
                "folder": "INBOX",
                "amount": 10,
                "options": {
                    "seen": false
                }
            },
            "id": "gmail-node",
            "name": "Gmail",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                460,
                300
            ],
            "credentials": {
                "gmailOAuth2Api": {
                    "id": "gmail-credentials",
                    "name": "Gmail OAuth2"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "exclude-senders",
                            "leftValue": "={{ $json.from }}",
                            "rightValue": "noreply@example.com",
                            "operator": {
                                "type": "string",
                                "operation": "notContains"
                            }
                        },
                        {
                            "id": "exclude-subjects",
                            "leftValue": "={{ $json.subject }}",
                            "rightValue": "自动回复",
                            "operator": {
                                "type": "string",
                                "operation": "notContains"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "filter-node",
            "name": "邮件过滤",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "consultation-keywords",
                            "leftValue": "={{ $json.textContent.toLowerCase() }}",
                            "rightValue": "咨询",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            }
                        }
                    ],
                    "combinator": "or"
                }
            },
            "id": "keyword-matcher",
            "name": "关键词匹配",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                900,
                200
            ]
        },
        {
            "parameters": {
                "operation": "send",
                "toEmail": "={{ $json.from }}",
                "subject": "自动回复：已收到您的咨询",
                "text": "尊敬的客户，\n\n感谢您的咨询，我们已收到您的邮件。\n\n我们的客服团队会在24小时内回复您，请耐心等待。\n\n如有紧急问题，请致电我们的客服热线：400-123-4567\n\n此致\n敬礼\n\n[公司名称]\n客服团队",
                "options": {
                    "allowUnauthorizedCerts": false
                }
            },
            "id": "send-email",
            "name": "发送回复",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [
                1120,
                200
            ],
            "credentials": {
                "smtp": {
                    "id": "smtp-credentials",
                    "name": "SMTP"
                }
            }
        },
        {
            "parameters": {
                "operation": "append",
                "fileName": "reply-log.json",
                "options": {
                    "append": true
                }
            },
            "id": "log-node",
            "name": "记录日志",
            "type": "n8n-nodes-base.writeBinaryFile",
            "typeVersion": 1,
            "position": [
                1340,
                200
            ]
        }
    ],
    "connections": {
        "定时触发器": {
            "main": [
                [
                    {
                        "node": "Gmail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gmail": {
            "main": [
                [
                    {
                        "node": "邮件过滤",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "邮件过滤": {
            "main": [
                [
                    {
                        "node": "关键词匹配",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "关键词匹配": {
            "main": [
                [
                    {
                        "node": "发送回复",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "发送回复": {
            "main": [
                [
                    {
                        "node": "记录日志",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "createdAt": "2024-01-15T10:00:00.000Z",
            "updatedAt": "2024-01-15T10:00:00.000Z",
            "id": "email-automation",
            "name": "邮件自动化"
        }
    ],
    "triggerCount": 1,
    "updatedAt": "2024-01-15T10:00:00.000Z",
    "versionId": "1"
}