workflows/site-automation/jd_sign_get_jd/workflow.json
{
    "name": "京东签到领京豆",
    "nodes": [
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "fb41d09b-e2a3-4247-8dad-83204ae6b848",
                            "name": "successMsg",
                            "value": "=JD京豆签到完成：\n签到前金豆：{{ $json.balanceBefore }}\n签到后金豆：{{ $json.balanceAfter }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                540,
                -80
            ],
            "id": "8026f4d2-0314-49e3-a5ce-87602f5850e0",
            "name": "签到成功"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "d5fe3b29-d741-4f98-96a8-c20619b7a9c8",
                            "name": "failMsg",
                            "value": "=签到失败：{{ $json.msg }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                540,
                120
            ],
            "id": "8a79f578-7593-44c9-8f79-28f7b1aafeef",
            "name": "签到失败"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $('const').item.json.feishuRobotUrl }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "msg_type",
                            "value": "text"
                        },
                        {
                            "name": "content[text]",
                            "value": "={{ $json.failMsg }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                760,
                120
            ],
            "id": "79f70004-bb26-4c62-9eac-1d0733adda7d",
            "name": "失败通知"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $('const').item.json.feishuRobotUrl }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "msg_type",
                            "value": "text"
                        },
                        {
                            "name": "content[text]",
                            "value": "={{ $json.successMsg }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                760,
                -80
            ],
            "id": "909d1d2b-e793-4844-b7ae-3115cf7d0ee6",
            "name": "成功通知"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "2dfc85f2-0648-4599-8d89-5ca37014c790",
                            "leftValue": "={{ $json.success }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                300,
                40
            ],
            "id": "affbfa99-7143-42a4-84d0-3547518c0a4a",
            "name": "判断签到结果"
        },
        {
            "parameters": {
                "operation": "runCustomScript",
                "scriptCode": "=// 先设置 Cookie\nconst cookieStr = '{{ $json.cookeStr }}';\n\nconst domain = '.jd.com';\nconst path = '/';\n\nconst cookies = cookieStr.split(';').map(item => {\n  const [name, ...rest] = item.trim().split('=');\n  return {\n    name,\n    value: rest.join('='),\n    domain,\n    path\n  };\n});\n\nawait $page.setCookie(...cookies);\n\n// 跳转到指定页面\nawait $page.goto(\"https://bean.jd.com/myJingBean/list\");\nawait $page.setViewport({ width: 1200, height: 900 });\n\n// 简单的停留1s\nawait new Promise((resolve) => {\n  setTimeout(resolve, 1000)\n});\n\nconst loginBtn = await $page.$('#sms-login-form');\nif (loginBtn) {\n  return [{success: false, msg: '请重新登录'}];\n}\n\n// 获取当前余额信息\nconst balanceBefore = await $page.$eval(\n  'div.my-card-bean-num',\n  el => el.textContent.trim()\n);\n\n// 执行签到\nawait $page.waitForSelector('#mybean-sign .btn');\nawait $page.click('#mybean-sign .btn');\n\n// 简单的停留2s,等待余额加上\nawait new Promise((resolve) => {\n  setTimeout(resolve, 2000)\n});\n\n// 重新加载页面，刷新余额\nawait $page.reload();\n\n// 再次获取当前余额信息\nconst balanceAfter = await $page.$eval(\n  'div.my-card-bean-num',\n  el => el.textContent.trim()\n);\n\n// 简单的停留10s，然后离开\nawait new Promise((resolve) => {\n  setTimeout(resolve, 5000)\n});\n\nreturn [{success: true, balanceBefore: balanceBefore, balanceAfter: balanceAfter}];",
                "options": {
                    "browserWSEndpoint": "={{ $json.webSocketDebuggerUrl }}",
                    "headless": true
                }
            },
            "type": "n8n-nodes-puppeteer.puppeteer",
            "typeVersion": 1,
            "position": [
                100,
                40
            ],
            "id": "15f18860-d41c-4048-9dda-dc50c5099e7c",
            "name": "执行签到逻辑"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 9
                        },
                        {
                            "triggerAtHour": 13
                        },
                        {
                            "triggerAtHour": 19
                        },
                        {
                            "triggerAtHour": 22
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -280,
                40
            ],
            "id": "d299dc8c-2abe-473f-ad45-6f0c5c5a9d03",
            "name": "定时触发器",
            "notesInFlow": false
        },
        {
            "parameters": {
                "content": "## 工作流简介\n### 主要功能：\n1. 实现京东自动签到\n2. 实现签到结果通知\n### 主要节点\n1. `puppeteer` 社区节点\n2. HTTP节点",
                "height": 240,
                "width": 200
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -500,
                -40
            ],
            "id": "fb8cda68-ac2b-44c7-8d0a-e8aee317f4aa",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "content": "#### 定时触发器\n实现定时触发功能",
                "height": 240,
                "width": 180
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -300,
                -40
            ],
            "id": "43dc3bcc-221c-492f-9cc7-04357218f806",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "content": "#### `puppeteer`节点\n实现签到功能\n\n**依赖**: `webSocketDebuggerUrl` of chrome 在常量节点配置\n\n`京东登录cookie` 在常量节点配置",
                "height": 400,
                "width": 200
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                60,
                -200
            ],
            "id": "04faca2a-f122-45e2-911f-b0b5f71b45c4",
            "name": "Sticky Note2"
        },
        {
            "parameters": {
                "content": "#### if 节点\n判定签到结果",
                "height": 260,
                "width": 180
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                260,
                -60
            ],
            "id": "a18e86a5-e5d1-4be1-be0d-00f6d9672c0c",
            "name": "Sticky Note3"
        },
        {
            "parameters": {
                "content": "#### EditFile节点\n构建成功失败消息",
                "height": 440
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                440,
                -160
            ],
            "id": "81bda531-3059-4e0d-bf50-c18ea9e9f8c2",
            "name": "Sticky Note4"
        },
        {
            "parameters": {
                "content": "#### HTTP节点\n发送飞书通知消息\n\n**依赖**: 飞书机器人地址，在常量节点配置",
                "height": 480,
                "width": 260
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                680,
                -200
            ],
            "id": "61f36322-886b-4562-af62-ee77b23f079f",
            "name": "Sticky Note5"
        },
        {
            "parameters": {
                "content": "## 如何获取Chrome webSocketDebuggerUrl\n### 第一步\n打开cmd，执行命令：这里以 windows 为示例，chrome.exe 安装位置需要根据实际调整\n\"C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe\" --remote-debugging-port=9222 --remote-debugging-address=0.0.0.0 --user-data-dir=\"C:\\chrome-remote-profile\"\n\n### 第二步\n在上面命令执行后跳出的chrome中浏览：http://localhost:9222/json/version\n\n### 第三步\n找到 webSocketDebuggerUrl 并拷贝，将里面的localhost 替换成 host.docker.internal\n替换前：ws://localhost:9222/devtools/browser/7385d425-94be-474b-9f07-296f13d378d7\n替换后：ws://host.docker.internal:9222/devtools/browser/7385d425-94be-474b-9f07-296f13d378d7\n",
                "height": 340,
                "width": 760,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -500,
                200
            ],
            "id": "daf7829f-419f-4f54-85a8-7ca6b0e6ef6a",
            "name": "Sticky Note6"
        },
        {
            "parameters": {
                "content": "## 如何获取cookieStr信息\n第一步：\n进入到京东pc版，jd.com，完成登录\n\n第二步：\n打开浏览器控制台->刷新页面->找到network->找到一个请求并点击->点击Headers->在里面找到cookie字段->复制cookie字段的值",
                "height": 260,
                "width": 680,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                260,
                280
            ],
            "id": "b167470a-3b1a-439c-83a9-bd2626902b6a",
            "name": "Sticky Note7"
        },
        {
            "parameters": {
                "content": "## const\n在这里设置一些常量\n1. 京东登录cookie\n2. 飞书通知地址\n3. Websocket地址",
                "height": 400,
                "width": 180
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -120,
                -200
            ],
            "id": "9ebd7c05-8bc3-43a4-9690-07d4aff324af",
            "name": "Sticky Note8"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "4dea8c10-b161-4f1b-b544-c54e424dbf7c",
                            "name": "webSocketDebuggerUrl",
                            "value": "请在此处配置Websocket地址",
                            "type": "string"
                        },
                        {
                            "id": "2a97cbda-1fd0-45b9-9886-13965fa18d3d",
                            "name": "cookeStr",
                            "value": "请在此处配置京东登录cookie",
                            "type": "string"
                        },
                        {
                            "id": "388669c9-c7f1-4839-8244-a4b967a010bf",
                            "name": "feishuRobotUrl",
                            "value": "请在此处配置飞书机器人地址",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -80,
                40
            ],
            "id": "e44f8109-ba77-4df6-a353-e3c186b6de76",
            "name": "const"
        }
    ],
    "pinData": {},
    "connections": {
        "签到成功": {
            "main": [
                [
                    {
                        "node": "成功通知",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "签到失败": {
            "main": [
                [
                    {
                        "node": "失败通知",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "判断签到结果": {
            "main": [
                [
                    {
                        "node": "签到成功",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "签到失败",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "执行签到逻辑": {
            "main": [
                [
                    {
                        "node": "判断签到结果",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "定时触发器": {
            "main": [
                [
                    {
                        "node": "const",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "const": {
            "main": [
                [
                    {
                        "node": "执行签到逻辑",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "timezone": "Asia/Shanghai",
        "callerPolicy": "workflowsFromSameOwner"
    },
    "versionId": "5882b29d-0da7-41cc-8131-0a361fcb4752",
    "meta": {
        "instanceId": "2f1ce8ea57c024a580bef98010b7171e5cb83da9fbd5c3219ab48aac1459d4be"
    },
    "id": "0DdAe5JBHiEEkU6j",
    "tags": []
}